@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>
<blockquote>    
    <p>Última Atualização: 25 de fevereiro de 2021</p>    
    <p>Esta Política de Privacidade descreve Nossas políticas e procedimentos sobre a coleta, uso e divulgação de Suas informações quando Você usa o Serviço e informa sobre Seus direitos de privacidade e como a lei o protege.</p>    
    <p>Usamos Seus dados pessoais para fornecer e melhorar o Serviço. Ao usar o Serviço, Você concorda com a coleta e uso de informações de acordo com esta Política de Privacidade. Esta Política de Privacidade foi criada com a ajuda do <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">Privacy Policy Generator</a>.</p>    
    <h1>Interpretação e definições</h1>
    <p>As palavras cuja letra inicial é maiúscula têm significados definidos nas seguintes condições. As definições a seguir indicadas terão o mesmo significado, independentemente de aparecerem no singular ou no plural.</p>    
</blockquote>
<hr />
<blockquote>
    <h3>Dados de uso</h3>
    <p>Os Dados de Uso são coletados automaticamente ao usar o Serviço.</p>
    <p>Os Dados de Uso podem incluir informações como o endereço de Protocolo de Internet do Seu Dispositivo (por exemplo, endereço IP), tipo de navegador, versão do navegador, as páginas do nosso Serviço que Você visita, a hora e a data da Sua visita, o tempo gasto nessas páginas, identificadores exclusivos do dispositivo e outros dados de diagnóstico.</p>
    Quando Você acessa o Serviço por ou através de um dispositivo móvel, podemos coletar certas informações automaticamente, incluindo, mas não limitado a, o tipo de dispositivo móvel que Você usa, Seu ID exclusivo do dispositivo móvel, o <p>endereço IP do Seu dispositivo móvel, Seu sistema operacional móvel, o tipo de navegador de Internet móvel que Você usa, identificadores exclusivos de dispositivo e outros dados de diagnóstico.</p>
    <p>Também podemos coletar informações que Seu navegador envia sempre que Você visita nosso Serviço ou quando Você acessa o Serviço por ou através de um dispositivo móvel.</p>
</blockquote>